<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>Seu Site de Web Novels</h1>
        <nav>
            <a href= "{{ site.baseurl }}/">Início</a>
            <a href="{{ site.baseurl }}/novels/Basic_Man.html">Basic Man</a>
            <a href="">Sobre</a>
        </nav>
    </header>
    <main>
        <blockquote class="container">{{ content }}</blockquote>
    </main>
    <footer>
        &copy; 2025 Marlytos6
    </footer>
</body>
</html>